# Python Protection
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Universal Unity Protection
**/Library/
**/Logs/
**/logs/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/UserSettings/
**/DerivedDataCache/

# OS Noise
.vscode/
*.sln
*.csproj